.header {
  margin-bottom: 40px;
}

.layout {
  height: 100%;
}

.character,
.punctuation {
  font-family: "KaushanScript";
  font-size: 48px;
  border: 1px solid transparent;
}

.character:hover {
  border: 1px solid black;
  cursor: pointer;

  .hiddenHover {
    display: block;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Noto Sans";
  }
}

.hiddenHover {
  display: none;
  position: absolute;
}