.layout {
  height: 100%;
}

.card {
  height: 50%;
  width: 100%;
  max-width: 750px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.header {
  margin-bottom: 20px;
}

.simplified {
  font-family: "KaushanScript";
  font-size: 48px;
}

.detail {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 500;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.increment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;

  .control {
    width: auto;
  }
}

.control {
  width: 500px;
  max-width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid black;
}

.speak {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
}
  